{% extends 'base.html.twig' %}

{% block title %}Hello InstructeurController!{% endblock %}

{% block body %}
    <button class="btn btn-success mt-3 mb-3" ><a class="text-decoration-none text-light" href="{{ path('insert') }}">Toevoegen</a> </button>
    <table class="table table-success table-striped border-4 border-top border-dark">

        <tbody>
        {% for lesson in lessons %}
            <tr>
                <td>{{ lesson.training.name }}</td>
                <td>{{ lesson.location }}</td>
                <td> max people: {{ lesson.maxpersons }}</td>
                <td> <button class="btn btn-outline-success"><a class="text-decoration-none" href="{{ path('details', {id: lesson.id}) }}"><i class="bi bi-card-list"></i></a></button> </td>
                <td> <button class="btn btn-outline-dark"><a class="text-decoration-none" href="{{ path('update', {id: lesson.id}) }}"> <i class="bi bi-pencil-square"></i></a></button></td>
                <td> <button class="btn btn-outline-danger"><a class="text-decoration-none" href="{{ path('delete', {id: lesson.id}) }}"><i class="bi bi-trash3"></i></a></button></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
